#header {
    background-color: blue;
    width: 100%;
    height: 100vh;
    
}
#header .text-center{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#header .text-center h1{
    margin: 0;
}
